.container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 5rem;
  height: 5rem;
  border: 2px solid #d1d5db;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
