--
-- PostgreSQL database dump
--

-- Dumped from database version 17.1 (Debian 17.1-1.pgdg120+1)
-- Dumped by pg_dump version 17.1 (Debian 17.1-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Role" AS ENUM (
    'USER',
    'ADMIN'
);


ALTER TYPE public."Role" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: File; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."File" (
    id integer NOT NULL,
    path text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."File" OWNER TO postgres;

--
-- Name: File_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."File_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."File_id_seq" OWNER TO postgres;

--
-- Name: File_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."File_id_seq" OWNED BY public."File".id;


--
-- Name: Layouts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Layouts" (
    id integer NOT NULL,
    layout_data text NOT NULL,
    name text NOT NULL,
    description text DEFAULT 'default description'::text NOT NULL,
    path_to_image text DEFAULT '1737230908287-767188248.png'::text NOT NULL
);


ALTER TABLE public."Layouts" OWNER TO postgres;

--
-- Name: Layouts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Layouts_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Layouts_id_seq" OWNER TO postgres;

--
-- Name: Layouts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Layouts_id_seq" OWNED BY public."Layouts".id;


--
-- Name: Page; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Page" (
    id integer NOT NULL,
    user_site_id integer NOT NULL,
    page_name text NOT NULL,
    page_slug text NOT NULL,
    page_data text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Page" OWNER TO postgres;

--
-- Name: Page_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Page_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Page_id_seq" OWNER TO postgres;

--
-- Name: Page_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Page_id_seq" OWNED BY public."Page".id;


--
-- Name: PublishedPages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PublishedPages" (
    id integer NOT NULL,
    page_id integer NOT NULL,
    published_data text NOT NULL,
    "publishedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."PublishedPages" OWNER TO postgres;

--
-- Name: PublishedPages_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."PublishedPages_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."PublishedPages_id_seq" OWNER TO postgres;

--
-- Name: PublishedPages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."PublishedPages_id_seq" OWNED BY public."PublishedPages".id;


--
-- Name: UsersSites; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."UsersSites" (
    id integer NOT NULL,
    user_id integer NOT NULL,
    site_address text,
    site_name text NOT NULL
);


ALTER TABLE public."UsersSites" OWNER TO postgres;

--
-- Name: UsersSites_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."UsersSites_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."UsersSites_id_seq" OWNER TO postgres;

--
-- Name: UsersSites_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."UsersSites_id_seq" OWNED BY public."UsersSites".id;


--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    name text,
    username text,
    email text NOT NULL,
    "passwordHash" text NOT NULL,
    roles public."Role"[] DEFAULT ARRAY['USER'::public."Role"],
    "refreshTokenHash" text
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: File id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."File" ALTER COLUMN id SET DEFAULT nextval('public."File_id_seq"'::regclass);


--
-- Name: Layouts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Layouts" ALTER COLUMN id SET DEFAULT nextval('public."Layouts_id_seq"'::regclass);


--
-- Name: Page id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Page" ALTER COLUMN id SET DEFAULT nextval('public."Page_id_seq"'::regclass);


--
-- Name: PublishedPages id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PublishedPages" ALTER COLUMN id SET DEFAULT nextval('public."PublishedPages_id_seq"'::regclass);


--
-- Name: UsersSites id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UsersSites" ALTER COLUMN id SET DEFAULT nextval('public."UsersSites_id_seq"'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: File; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Layouts; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Page; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: PublishedPages; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: UsersSites; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."UsersSites" (id, user_id, site_address, site_name) FROM stdin;
2	1	\N	╨в╨╡╤Б╤В╨╛╨▓╤Л╨╣ ╤И╨░╨▒╨╗╨╛╨╜ 1
3	1	\N	╨в╨╡╤Б╤В╨╛╨▓╤Л╨╣ ╤И╨░╨▒╨╗╨╛╨╜ 1
1	1	vovavish	╨б╨░╨╣╤В ╨╜╨╛╨╝╨╡╤А 1
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: File_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."File_id_seq"', 26, true);


--
-- Name: Layouts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Layouts_id_seq"', 2, true);


--
-- Name: Page_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Page_id_seq"', 2, true);


--
-- Name: PublishedPages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."PublishedPages_id_seq"', 2, true);


--
-- Name: UsersSites_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."UsersSites_id_seq"', 3, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 3, true);


--
-- Name: File File_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."File"
    ADD CONSTRAINT "File_pkey" PRIMARY KEY (id);


--
-- Name: Layouts Layouts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Layouts"
    ADD CONSTRAINT "Layouts_pkey" PRIMARY KEY (id);


--
-- Name: Page Page_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Page"
    ADD CONSTRAINT "Page_pkey" PRIMARY KEY (id);


--
-- Name: PublishedPages PublishedPages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PublishedPages"
    ADD CONSTRAINT "PublishedPages_pkey" PRIMARY KEY (id);


--
-- Name: UsersSites UsersSites_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UsersSites"
    ADD CONSTRAINT "UsersSites_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: PublishedPages_page_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "PublishedPages_page_id_key" ON public."PublishedPages" USING btree (page_id);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: Page Page_user_site_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Page"
    ADD CONSTRAINT "Page_user_site_id_fkey" FOREIGN KEY (user_site_id) REFERENCES public."UsersSites"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: PublishedPages PublishedPages_page_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PublishedPages"
    ADD CONSTRAINT "PublishedPages_page_id_fkey" FOREIGN KEY (page_id) REFERENCES public."Page"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: UsersSites UsersSites_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UsersSites"
    ADD CONSTRAINT "UsersSites_user_id_fkey" FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

